# This is the configuration template for quantum-test cloudscale integration tests.
#
# You do not need this template if you are:
#
# 1) Running integration tests without using quantum-test.
#

[default]
cloudscale_api_token = @API_TOKEN
